body{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}

h1 {
	background: #6495ed;
	color: white;
	padding: 20px;
	margin: 0;
}

input {
	margin: 10px;
}

input[type=text] {
	border: none;
	border-bottom: 1px solid black;
	font-size: 14px;
	width: 50%;
}

input[type=text]:focus {
	outline: none;
	border-bottom: 1px solid #6495ed;
}

input[type=submit] {
	background-color: #6495ed; /* Green */
  	border: none;
  	color: white;
  	padding: 10px 32px;
  	text-align: center;
	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
}

button {
	background-color: #6495ed; /* Green */
  	border: none;
  	color: white;
  	padding: 10px 32px;
  	text-align: center;
	text-decoration: none;
  	display: inline-block;
  	font-size: 14px;
}

hr {
  border: 0;
  height: 1px;
	
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


table {
	align-items: center;
	justify-content: center;
		margin-left: auto;
	margin-right: auto;
	border : 1px solid #dfdfdf;
	border-collapse : collapse;
  margin-bottom: 20px;
	width: 100%;
	max-width: 1500px;
}

thead {
	background-color:  #6495ed;
	color: white;
	height: 40px;
}

ul {
	list-style-type: none;
}

tr {
  height: 30px;
}

tr:nth-child(even) {
		background: #e5efff;
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   /* Height of the footer */
}



#dbref {
	display: flex;
	flex-wrap : wrap;
	justify-content: space-around;
}

#dbref > a { 
	padding : 10px;
}


#seq  {
	text-align: justify;
	font-family: 'Cutive Mono', monospace;
	padding: 0px 18%;
}
